importFrom(XML, xmlToDataFrame, xmlNode, xmlTextNode, saveXML)

export(
prepareDSList,
dsRead,
dsSearch,
dsSort,
dsDownload,
getAvailable,
getPath,
getType,
getFields,
analyzeData,
checkType,
checkConsistency,
readDSListFromXML,
saveDSListAsXML)

